# Sales Forecasting
## By: Tahsin Jahin Khalid

## Part II: Data Preparation for Machine Learning/Time-Series

### Dataset Used: [Predict Future Sales - Kaggle](https://www.kaggle.com/competitions/competitive-data-science-predict-future-sales)

### Import Relevant Modules

In [1]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
training_data_path = "/content/drive/MyDrive/sales_forecasting_training_df.pkl"
testing_data_path = "/content/drive/MyDrive/sales_forecasting_testing_df.pkl"

In [5]:
training_df = pd.read_pickle(training_data_path)
testing_df = pd.read_pickle(testing_data_path)

In [6]:
training_df.head(5)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
0,2013-02-01,0,59,22154,999.00,1.0,37
1,2013-03-01,0,25,2552,899.00,1.0,58
2,2013-06-01,0,25,2554,1709.05,1.0,58
3,2013-01-15,0,25,2555,1099.00,1.0,56
4,2013-10-01,0,25,2564,349.00,1.0,59

In [7]:
testing_df.head(5)

   ID  shop_id  item_id  item_category_id
0   0        5     5037                19
1   1        5     5320                55
2   2        5     5233                19
3   3        5     5232                23
4   4        5     5268                20

In [8]:
# the ydata report said the training data had duplicates
training_df.drop_duplicates(inplace=True)

In [9]:
training_df.shape

(2427169, 7)

In [10]:
training_df["date"] = pd.to_datetime(training_df["date"], format="%d-%m-%Y")

In [11]:
training_df

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
0,2013-02-01,0,59,22154,999.00,1.0,37
1,2013-03-01,0,25,2552,899.00,1.0,58
2,2013-06-01,0,25,2554,1709.05,1.0,58
3,2013-01-15,0,25,2555,1099.00,1.0,56
4,2013-10-01,0,25,2564,349.00,1.0,59
...,...,...,...,...,...,...,...
2427344,2015-10-10,33,25,7409,299.00,1.0,55
2427345,2015-09-10,33,25,7460,299.00,1.0,55
2427346,2015-10-14,33,25,7459,349.00,1.0,55
2427347,2015-10-22,33,25,7440,299.00,1.0,57
2427348,2015-03-10,33,25,7460,299.00,1.0,55

In [12]:
training_df.dtypes

date                datetime64[ns]
date_block_num               int64
shop_id                      int64
item_id                      int64
item_price                 float64
item_cnt_day               float64
item_category_id             int64
dtype: object

In [13]:
training_data = training_df.groupby(
    [training_df['date'].apply(
        lambda x: x.strftime('%Y-%m')
        ),
     'item_id','shop_id', 'item_category_id']
    ).sum().reset_index()

<ipython-input-13-492e86f6a299>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ).sum().reset_index()

In [14]:
training_data = training_data[['date','item_id',
                               'shop_id','item_category_id',
                               'item_cnt_day']]
# select the important ones
training_data = training_data.pivot_table(
    index=['item_id','shop_id','item_category_id'],
    columns = 'date', values = 'item_cnt_day', fill_value = 0).reset_index()

In [15]:
training_data

date,item_id,shop_id,item_category_id,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,...,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12
0,1,55,76,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16,56,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,17,44,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,18,25,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,19,25,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338466,22168,2,62,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338467,22168,12,62,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338468,22168,16,62,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338469,22168,42,62,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338470,22169,25,69,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

We are predicting the sales for the month of October 2015. That is the target column. There are values for November and December 2015 as well. These are not required and can be dropped.

In [16]:
training_data.drop(["2015-11", "2015-12"], axis=1, inplace=True)

In [17]:
training_data.shape

(338471, 37)

In [18]:
training_data

date,item_id,shop_id,item_category_id,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,...,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10
0,1,55,76,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16,56,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,17,44,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,18,25,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,19,25,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338466,22168,2,62,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338467,22168,12,62,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338468,22168,16,62,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338469,22168,42,62,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338470,22169,25,69,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# training_data.isnull().sum()

### Data Partitioning

In [21]:
X = training_data.drop("2015-10", axis=1)
y = training_data["2015-10"]

In [23]:
print(f"""
features: {X.shape}
target  : {y.shape}
      """)

features: (338471, 36)
target  : (338471,)

### Package Data

In [25]:
X.to_pickle("/content/drive/MyDrive/sales_forecasting_train_X.pkl")
y.to_pickle("/content/drive/MyDrive/sales_forecasting_train_y.pkl")